services:
    brain-tumor-detection:
        build:
            context: .
            dockerfile: Dockerfile
        restart: "always"
        volumes:
            - .:/app
            - ../models:/app/models
        ports:
            - "8000:8000"
        command: uvicorn main:app --reload --host 0.0.0.0 --port 8000
