ultralytics==8.3.21
uvicorn==0.32.0
gunicorn==23.0.0
fastapi==0.115.3
loguru==0.7.2
python-multipart==0.0.12
opentelemetry-api
opentelemetry-sdk
opentelemetry-instrumentation-fastapi
opentelemetry-exporter-jaeger
opentelemetry-instrumentation-logging 
opentelemetry-exporter-otlp==1.24.0
opentelemetry-exporter-otlp-proto-grpc
ansible==8.3.0
requests==2.32.2
google-auth==2.28.1
pytest==7.4.0
httpx==0.24.1
pytest-asyncio==0.21.1